apiVersion: v1
kind: Service
metadata:
  name: simple-api-service
  namespace: simple-api
  labels:
    app: simple-api
spec:
  selector:
    app: simple-api
  ports:
  - name: http
    port: 80
    targetPort: 8080
    protocol: TCP
  type: ClusterIP